
$red: #BF0D3E;
$orange: #ED8B00;
$blue: #009CDE;
$yellow: #FFD100;
$green: #00B140;
$silver: #919D9D;


.results-group {
  line-height: 125%;
  border: 1px solid #cccccc;
  border-radius: 5px;
}

.train-line {
  display: block;
  height: 30px;
  width: 30px;
  border-radius: 30px;
  margin-right: 5px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: .9rem;
  position: relative;
}

.wait-time {
  text-align: center;
  p {
    margin-bottom: 0px;
  }
}

span::before {
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%);
}

.line-RD {
  background-color: $red;
  color: #ffffff;
}

.line-RD::before {
  content: "RD";
}

.line-OR {
  background-color: $orange;
  color: #000000;
}

.line-OR::before {
  content: "OR";
}

.line-BL {
  background-color: $blue;
  color: #ffffff;
}

.line-BL::before {
  content: "BL";
}

.line-GR {
  background-color: $green;
  color: #ffffff;
}

.line-GR::before {
  content: "GR";
}

.line-YL {
  background-color: $yellow;
  color: #000000;
}

.line-YL::before {
  content: "YL";
}

.line-SV {
  background-color: $silver;
  color: #000000;
}

.line-SV::before {
  content: "SV";
}
